
$font-family: 'Rubik Dirt', cursive;
$font-family2:'Share Tech Mono', monospace;
$font-family3: 'Quicksand', sans-serif;

$primary-color: white;
$font-color: #615151;
$font-clear: white;
$bg-dark: #1b1b32;
$font-dark: black;
$bg-clear: white;
$icono-font-color: #0f1425;
$bg-icono: #0a0a23;
$icono-color2: rgb(163, 46, 46);
$color-gray: #656060;
$gray-clear: #aeaeae;
$contacto-rectangulo: rgb(13,110,253)